---
import { getCollection } from 'astro:content';
import Layout from '../layouts/BlogPost.astro';

const projects = await getCollection('projects');
---

<Layout title="Projects" description="A list of projects.">
  <ul>
    {projects.map((project) => (
      <li>
        <article>
          <h2>{project.data.title}</h2>
          <p>{project.data.description}</p>
          <time>{project.data.pubDate.toLocaleDateString()}</time>
          {project.data.heroImage && (
            <img src={project.data.heroImage} alt={project.data.title} />
          )}
          <a href={`/projects/${project.slug}`}>Read More</a>
        </article>
      </li>
    ))}
  </ul>
</Layout>
